In [1]:
import pandas as pd 
import numpy as np
from datetime import datetime

In [8]:
date_rng = pd.date_range(start='1/1/2018', end='1/08/2018', freq='H')
display(date_rng[:10])
len(date_rng)

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

169

In [18]:
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0,100,size=(len(date_rng)))
df1  = df.copy()
df1.set_index('date',inplace=True)
df1.index

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-07 15:00:00', '2018-01-07 16:00:00',
               '2018-01-07 17:00:00', '2018-01-07 18:00:00',
               '2018-01-07 19:00:00', '2018-01-07 20:00:00',
               '2018-01-07 21:00:00', '2018-01-07 22:00:00',
               '2018-01-07 23:00:00', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', name='date', length=169, freq=None)

In [22]:
df2 = pd.DataFrame(np.random.randn(10),columns=['num'])
df2['cum'] = df2['num'].cumsum()
df2

        num       cum
0  1.008307  1.008307
1 -1.293468 -0.285161
2  0.357202  0.072042
3 -0.657985 -0.585943
4  1.565202  0.979259
5 -0.550253  0.429006
6  0.865059  1.294065
7  0.935069  2.229134
8 -1.546198  0.682936
9 -0.254717  0.428219