In [2]:
import pandas as pd
import numpy as np

In [42]:
df = pd.DataFrame({'CG':np.random.randint(0, 5, 100), 'Morph':np.random.choice(['S', 'E'], 100), \
                   'R':np.random.rand(100) * -100,'R2':np.random.rand(100) * 100})

In [52]:
print(df.loc[0:3][['CG','R','R2']])

   CG          R         R2
0   2 -41.861656  49.244524
1   4 -66.897835  28.847091
2   1 -11.402931   8.124861
3   2 -86.671128  71.402538

In [73]:
display(df.loc[0:3])
df.loc[0:3].groupby('CG')

   CG Morph          R         R2
0   2     E -41.861656  49.244524
1   4     E -66.897835  28.847091
2   1     S -11.402931   8.124861
3   2     S -86.671128  71.402538

In [75]:
i = 0
def myapp(x):    
    x = x.sort_values('R')
    print(x)
   
    return x.mean()
    
#df.loc[0:1][['R','R2']].apply(myapp)   
df.loc[0:3].groupby('CG').apply(myapp)

   CG Morph          R        R2
2   1     S -11.402931  8.124861
   CG Morph          R         R2
3   2     S -86.671128  71.402538
0   2     E -41.861656  49.244524
   CG Morph          R         R2
1   4     E -66.897835  28.847091

     CG          R         R2
CG
1   1.0 -11.402931   8.124861
2   2.0 -64.266392  60.323531
4   4.0 -66.897835  28.847091