In [1]:
import pandas as pd 
import numpy as np
from datetime import datetime
datestrs = ['7/6/2011','8/6/2011']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [2]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [3]:
idx[2]

NaT

In [4]:
pd.isnull(idx)

array([False, False,  True])

## Time Series Basics

In [5]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),
         datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]
ts = pd.Series(np.random.randn(6),index=dates)
display(ts)

2011-01-02   -1.210960
2011-01-05    0.709222
2011-01-07    0.838930
2011-01-08   -0.159256
2011-01-10   -0.748410
2011-01-12   -0.400295
dtype: float64

pandas.core.series.Series

In [20]:
type(ts)

pandas.core.series.Series

In [21]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [6]:
ts[::2]

2011-01-02   -1.21096
2011-01-07    0.83893
2011-01-10   -0.74841
dtype: float64

In [7]:
ts + ts[::2]

2011-01-02   -2.421921
2011-01-05         NaN
2011-01-07    1.677861
2011-01-08         NaN
2011-01-10   -1.496820
2011-01-12         NaN
dtype: float64

In [8]:
ts.index.dtype

dtype('<M8[ns]')

## Indexing, Selection, Subsetting

In [22]:
stamp = ts.index[2]
ts[stamp]

0.8389304712434769

In [10]:
ts['1/10/2011']

-0.7484102425550506

In [11]:
ts['20110110']

-0.7484102425550506

In [30]:
longer_ts = pd.Series(np.random.randn(1000),
                      index = pd.date_range('1/1/2000',periods=1000))
display(longer_ts.tail(5))

2002-09-22   -0.121136
2002-09-23    0.560688
2002-09-24   -1.677982
2002-09-25   -0.038658
2002-09-26    1.054578
Freq: D, dtype: float64

In [31]:
longer_ts['2001']

2001-01-01    0.802363
2001-01-02   -0.612330
2001-01-03   -0.609923
2001-01-04    0.517243
2001-01-05    1.005310
                ...
2001-12-27    1.217384
2001-12-28    0.479593
2001-12-29   -0.609365
2001-12-30    1.276053
2001-12-31   -0.459741
Freq: D, Length: 365, dtype: float64

In [32]:
longer_ts['2002-05']

2002-05-01    0.431513
2002-05-02    1.824346
2002-05-03   -1.777271
2002-05-04    1.285812
2002-05-05   -0.513392
2002-05-06   -0.283325
2002-05-07    1.033483
2002-05-08   -1.970092
2002-05-09    0.763528
2002-05-10    1.979882
2002-05-11   -1.760371
2002-05-12    0.372218
2002-05-13    0.033861
2002-05-14   -0.055168
2002-05-15    0.399852
2002-05-16   -0.847412
2002-05-17   -0.196186
2002-05-18    0.681980
2002-05-19   -1.972665
2002-05-20   -0.836358
2002-05-21    0.867485
2002-05-22   -1.395336
2002-05-23    0.638134
2002-05-24    0.027186
2002-05-25    1.473711
2002-05-26    0.601033
2002-05-27    1.275657
2002-05-28   -0.844731
2002-05-29    0.514233
2002-05-30   -2.354304
2002-05-31   -0.248976
Freq: D, dtype: float64

In [37]:
 ts[datetime(2011, 1, 7):]

2011-01-07    0.838930
2011-01-08   -0.159256
2011-01-10   -0.748410
2011-01-12   -0.400295
dtype: float64

In [38]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.838930
2011-01-08   -0.159256
2011-01-10   -0.748410
dtype: float64

In [39]:
ts.truncate(after='1/9/2011')

2011-01-02   -1.210960
2011-01-05    0.709222
2011-01-07    0.838930
2011-01-08   -0.159256
dtype: float64

In [40]:
dates_df = pd.date_range('1/1/2000',periods=100,freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100,4),index=dates_df,columns=['Colorado','Texas','New York','Ohio'])
#long_df['Colorado']['2000-01-12']
long_df['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.652080 -0.389306 -1.109634 -1.127077
2001-05-09 -0.647308 -1.134090  0.476656  0.427722
2001-05-16  0.113479  1.328561 -0.248936 -0.062818
2001-05-23 -0.644052  0.241495  0.205601 -1.344386
2001-05-30 -0.776741 -1.117471  1.083430 -0.590891

## Time Series with Duplicate Indices

In [47]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000','1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [49]:
dup_ts.index.is_unique

False

In [50]:
dup_ts['1/3/2000'] #unica

4

In [51]:
dup_ts['1/2/2000'] #duplicada

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [53]:
grouped = dup_ts.groupby(level=0)

In [54]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [55]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## Date Ranges, Frequencies, and Shifting

In [62]:
#transformando num série diária
t = ts.resample('D')
t.sum()

2011-01-02   -1.210960
2011-01-05    0.709222
2011-01-07    0.838930
2011-01-08   -0.159256
2011-01-10   -0.748410
2011-01-12   -0.400295
dtype: float64

2011-01-02   -1.210960
2011-01-03    0.000000
2011-01-04    0.000000
2011-01-05    0.709222
2011-01-06    0.000000
2011-01-07    0.838930
2011-01-08   -0.159256
2011-01-09    0.000000
2011-01-10   -0.748410
2011-01-11    0.000000
2011-01-12   -0.400295
Freq: D, dtype: float64

## Generating Date Ranges

In [65]:
index = pd.date_range('4/1/2012', '6/1/2012') #por padrão gera séries diárias
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [66]:
pd.date_range('4/1/2012', periods=20) #passando uma data inicial e uma quantidade de períodos

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [67]:
 pd.date_range(end='6/1/2012', periods=20) #passando a data final e uma quantidade de períodos

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [69]:
pd.date_range('1/1/2000', '12/1/2000', freq='BM') #somente datas úteis de final de mês, dentro do periodo .

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [70]:
pd.date_range('5/2/2012 12:56:31', periods=5) #date_range preserva a informação da hora

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [71]:
pd.date_range('5/2/2012 12:56:31', periods=5, normalize=True) #desprezando a informação da hora e normalizando para meia noite

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

## Frequencies and Date Offsets

In [72]:
from pandas.tseries.offsets import Minute, Hour
hour = Hour()
hour

In [73]:
four_hours = Hour(4)
four_hours

In [74]:
pd.date_range('1/1/2000', '1/3/2000 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [75]:
Hour(2) + Minute(30)

In [76]:
pd.date_range('1/1/2000', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

### Week of month dates

In [77]:
rng = pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI') #terceira sexta de cada mês
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [ ]:
### Shifting (Leading and Lagging) Data

In [79]:
#shifting deslocar a data (avançando ou retrocedendo)
ts = pd.Series(np.random.randn(4),index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    0.323584
2000-02-29    1.772233
2000-03-31    0.992503
2000-04-30    2.453814
Freq: M, dtype: float64

In [80]:
ts/ts.shift(1) -1

2000-01-31         NaN
2000-02-29    4.476886
2000-03-31   -0.439970
2000-04-30    1.472349
Freq: M, dtype: float64

In [81]:
ts.shift(2,freq='M')

2000-03-31    0.323584
2000-04-30    1.772233
2000-05-31    0.992503
2000-06-30    2.453814
Freq: M, dtype: float64

In [82]:
ts.shift(3, freq='D')

2000-02-03    0.323584
2000-03-03    1.772233
2000-04-03    0.992503
2000-05-03    2.453814
dtype: float64

In [83]:
ts.shift(1, freq='3D')

2000-02-03    0.323584
2000-03-03    1.772233
2000-04-03    0.992503
2000-05-03    2.453814
dtype: float64

In [84]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    0.323584
2000-02-29 01:30:00    1.772233
2000-03-31 01:30:00    0.992503
2000-04-30 01:30:00    2.453814
dtype: float64

### Shifting dates with offsets