In [17]:
import pandas as pd
import math

<p>
Um agricultor plantou um pé de feijão no quintal de sua casa, anotando semanalmente sua altura. Os resultados obtidos
estão estão na tabela
</p>

In [16]:
df = pd.DataFrame(data = {'x':[1,2,3,4,5,6,7,8,9],'y':[5,12,16,22,34,38,41,45,50]})
df['x2'] = df.x ** 2
df['y2'] = df.y ** 2
df['x*y'] = df.x * df.y
display(df)
somat_x = df.x.sum()
somat_y = df.y.sum()

somat_x2 = df.x2.sum()
somat_y2 = df.y2.sum()
somat_xy = (df.x * df.y).sum()

display(f'somat x = {somat_x}, somat_y = {somat_y}')
display(f'somat x2 = {somat_x2}, somat_y2 = {somat_y2}')
display(f'somat xy = {somat_xy}')
n = df.shape[0]

   x   y  x2    y2  x*y
0  1   5   1    25    5
1  2  12   4   144   24
2  3  16   9   256   48
3  4  22  16   484   88
4  5  34  25  1156  170
5  6  38  36  1444  228
6  7  41  49  1681  287
7  8  45  64  2025  360
8  9  50  81  2500  450

'somat x = 45, somat_y = 263'

'somat x2 = 285, somat_y2 = 9715'

'somat xy = 1660'

In [30]:
#calculando r

r = (n * somat_xy - (somat_x * somat_y)) /(math.sqrt((n * somat_x2) - somat_x**2) * math.sqrt((n * somat_y2) - somat_y**2))
display(f'Correlação calculada {r}')
display(f'Correlação pelo pandas {df.x.corr(df.y)}')
display (f'Coeficiente de determinação ou explicação: {round(r**2 * 100,3)}%')
display (f'{round(r**2 * 100,3)}% da variação da altura (y) é explicada pela variação do tempo (x)')
display (f'{round((1 - r**2) * 100,3)}% da variação da altura (y) é explicada por outros fatores')

'Correlação calculada 0.9886509726125047'

'Correlação pelo pandas 0.9886509726125045'

'Coeficiente de determinação ou explicação: 97.743%'

'97.743% da variação da altura (y) é explicada pela variação do tempo (x)'

'2.257% da variação da altura (y) é explicada por outros fatores'

In [38]:
#equação da reta de regresão
b = round((n * somat_xy - (somat_x * somat_y)) / (n*somat_x2 - somat_x**2),3)
y_medio = somat_y /n
x_medio = somat_x /n 
a = round(y_medio - b * x_medio,3)
display(f'equacão de regressão: y= {a} + {b}x')

'equacão de regressão: y= 0.472 + 5.75x'

In [43]:
#qual a altura do pé de feijão com 3,5 semanas
qt_semanas = 3.5
display(f'A altura seria de: {a + b * qt_semanas}cm')

'A altura seria de: 20.597cm'