In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from stemgraphic import stem_graphic
from pandas.api.types import CategoricalDtype

### Problema 1
<p> Usando os dados da Tabela 2.1 do capítulo 1:
 <ol>
<li> Construa a distribuição de frequência conjunta para as variáveis grau de instrução e região de procedência
<li> Qual a porcentagem de funcionários que têm o ensino médio
<li> Qual a percentagem daqueles que têm o ensino médio e são do interior?
<li> Dentre os funcionários do interior, quantos por cento têm o ensino médio?
</ol>

In [3]:
grau_instrucao = ['ensino fundamental', 'ensino médio', 'superior']
grau_instrucao_tipo = CategoricalDtype(categories=grau_instrucao, ordered=True) #criando variável categórica

df_emprg_orc = pd.read_excel('estatistica.basica.bussab.9ed/Dados_EB.xls',
                      header=1,
                      index_col=0,
                      names=['num','estado_civil','instrucao','filhos','salario','anos','meses','procedencia'],
                      dtype={'instrucao':grau_instrucao_tipo})
df_emprg_orc.index.name = 'Num'
df_emprg_orc['filhos'].fillna(0,inplace=True)
df_emprg_orc['filhos'] = df_emprg_orc['filhos'].astype('int64')

In [20]:
df = pd.crosstab( df_emprg_orc.procedencia,
                            df_emprg_orc.instrucao,
                            margins=True,
                            margins_name = "Total")
display('Distribuição de Frequência')
display(df)
display('Distribuição de Frequência em %')
df_porc = pd.crosstab(df_emprg_orc.procedencia,
                             df_emprg_orc.instrucao,
                             margins=True,
                             margins_name = "Total",
                             normalize=True) * 100
display(df_porc.round(2))
display('Porcentagem de funcionários que têm o ensino médio')
display(df_porc.loc['Total','ensino médio'])
display('Dentre os funcionários do interior, quantos por cento têm o ensino médio?')
display(df_porc.loc['interior','ensino médio'].round(2))

'Distribuição de Frequência'

instrucao    ensino fundamental  ensino médio  superior  Total
procedencia
capital                       4             5         2     11
interior                      3             7         2     12
outra                         5             6         2     13
Total                        12            18         6     36

'Distribuição de Frequência em %'

instrucao    ensino fundamental  ensino médio  superior   Total
procedencia
capital                   11.11         13.89      5.56   30.56
interior                   8.33         19.44      5.56   33.33
outra                     13.89         16.67      5.56   36.11
Total                     33.33         50.00     16.67  100.00

'Porcentagem de funcionários que têm o ensino médio'

50.0

'Dentre os funcionários do interior, quantos por cento têm o ensino médio?'

19.44

<p>2. No problema anterior,sorteando um funcionário ao acaso entre os 36:</p>
<ol>
<li> Qual será provalvemente seu grau de instrução?
<li> E sua região de procedência?
<li> Qual a probabilidade do sorteado ter nível superior?
<li> Sabendo-se que o sorteado é do interior, qual a probabilidade de ele possuir nível superior?
<li> Sabendo-se que o escolhido é da capital, qual a probabilidade de ele possuir nível superior?    
</ol>

In [28]:
display('O grau de instrução será provavelmente daquele que tiver maior frequência, ou seja ensino médio')
display('a região de procedência será provavelmente daquela que tiver maior frequência, ou seja outra')
display(f'a probabilidade do sorteado ter nível superior é {round(df.loc["Total","superior"]/df.loc["Total","Total"],3)}')
display(f'a probabilidade do sorteado ser do interior e ter nível superior é {round(df.loc["interior","superior"]/df.loc["interior","Total"],3)}')
display(f'a probabilidade do sorteado ser da capital e ter nível superior é {round(df.loc["capital","superior"]/df.loc["capital","Total"],3)}')

'O grau de instrução será provavelmente daquele que tiver maior frequência, ou seja ensino médio'

'a região de procedência será provavelmente daquela que tiver maior frequência, ou seja outra'

'a probabilidade do sorteado ter nível superior é 0.167'

'a probabilidade do sorteado ser do interior e ter nível superior é 0.167'

'a probabilidade do sorteado ser da capital e ter nível superior é 0.182'

<p>3. Numa pesquisa sobre rotatividade de mão de obra, para uma amostra de 40 pessoas foram observadas duas 
      variáveis: número de empregos nos últimos dois anos (X) e salário mais recente, em número de salários 
        mínimos (Y). Os resultados foram:</p>
<ol>
<li> Usando a mediana, classifique os indivíduos em dois níveis, alto e baixo, para cada uma das variáveis, 
    e construa a distribuição de frequências conjunta das duas classificações
<li> Qual a porcentagem das pessoas com baixa rotatividade e ganhando pouco?
<li> Qual a porcentagem das pessoas que ganham pouco?
<li> Entre as pessoas com baixa rotatividade, qual a porcentagem dos que ganham pouco 
<li> A informação adicional dada em (d) mudou muito a porcentagem observada em (c)? o que isso significa?
</ol>

In [58]:
dados = {'individuo': [1,2,3,4,5,6,7,8,9,10,
                       11,12,13,14,15,16,17,18,19,20,
                       21,22,23,24,25,26,27,28,29,30,
                       31,32,33,34,35,36,37,38,39,40],
        'X':[1,3,2,3,2,2,3,1,2,3,2,3,1,2,3,4,1,2,2,2,
             2,3,4,1,2,3,4,1,4,3,2,1,4,2,4,3,1,3,2,2],
        'Y':[6,2,4,1,4,1,3,5,2,2,5,2,6,6,2,2,5,5,1,1,
            4,2,1,5,4,2,1,5,4,3,2,1,1,6,2,1,4,2,3,5]}
df_rotatividade = pd.DataFrame(data=dados)
# display(df_rotatividade)
mediana_empregos = df_rotatividade.X.median()
mediana_salarios = df_rotatividade.Y.median()
display(f'{mediana_empregos} {mediana_salarios}')

df_rotatividade['class_emprego'] = df_rotatividade.X.apply(lambda x:'rotatividade_baixa' if x <= mediana_empregos else 'rotatividade_alta')
df_rotatividade['class_salario'] = df_rotatividade.Y.apply(lambda x:'salario_baixo' if x <= mediana_salarios else 'salario_alto')
df = pd.crosstab( df_rotatividade.class_emprego,
                  df_rotatividade.class_salario,
                  margins=True,
                  margins_name = "Total")
display('Distribuição conjunta de frequências')
display(df)
display(f'Percentual das pessoas com baixa rotatividade que ganham pouco {round(df.loc["rotatividade_baixa","salario_baixo"]/df.loc["Total","Total"],2)}')
display(f'Percentual das pessoas que ganham pouco {round(df.loc["Total","salario_baixo"]/df.loc["Total","Total"],2)}')
display(f'Percentual das pessoas que ganham pouco dentro da com baixa rotatividade {round(df.loc["rotatividade_baixa","salario_baixo"]/df.loc["rotatividade_baixa","Total"],2)}')
display(f'Mudou, significa que a informação sobre rotatividade influencia no valor do salário')

'2.0 2.5'

'Distribuição conjunta de frequências'

class_salario       salario_alto  salario_baixo  Total
class_emprego
rotatividade_alta              3             14     17
rotatividade_baixa            17              6     23
Total                         20             20     40

'Percentual das pessoas com baixa rotatividade que ganham pouco 0.15'

'Percentual das pessoas que ganham pouco 0.5'

'Percentual das pessoas que ganham pouco dentro da com baixa rotatividade 0.26'

'Mudou, significa que a informação sobre rotatividade influencia no valor do salário'